.portfolio__header {
    font-size: 18px;
    line-height: 1.11;
    color: #8B8B8B;
    mix-blend-mode: normal;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .portfolio__header{
        font-size: 14px;
        line-height: 1.42;
    }
}