.moviescard {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    height: 319px;
    background: rgb(34,34,34,1);
    border-radius: 6px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .moviescard{
        width: 342px;
        height: 309px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .moviescard{
        width: 300px;
        height: 271px;
    }
}

@import url(./__header/moviescard__header.css);
@import url(./__name/moviescard__name.css);
@import url(./__time/moviescard__time.css);
@import url(./__pic/moviescard__pic.css);
@import url(./__button/moviescard__button.css);