.aboutme__link {
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    grid-row: 4;
    grid-column: 1;
    align-self: flex-end;
}

.aboutme__link:hover {
    opacity: 0.7;
}