.profile {
    margin: 74px auto 70px;
    width: 410px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile{
        width: 260px;
    }
}

@import url(./__header/profile__header.css);
@import url(./__name/profile__name.css);
@import url(./__text/profile__text.css);
@import url(./__input/profile__input.css);
@import url(./__button/profile__button.css);