@import url(./__header/error__header.css);
@import url(./__message/error__message.css);
@import url(./__link/error__link.css);
@import url(./__block/error__block.css);
@import url(./_open/error_open.css);

.error {
    margin: auto 0 auto 0;    
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(32,32,32,1);
    z-index: 100;
}
