.withform__header {
    margin: 0 0 40px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.21;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .withform__header{
        align-self: center;
    }
}