.footer__links {
    width: 263px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__links{
        height: 69px;
        margin-top: 30px;
        flex-direction: column;
    }
}