.withform__logo {
    margin: 0 0 40px 0;
    width: 38px;
    height: 38px;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .withform__logo{
        align-self: center;
    }
}