.promo__button {
    margin: 84px 0 0 0;
    width: 129px;
    height: 36px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    box-sizing: border-box;
    background-color:  #073042;
    color: white;
    font-size: 12px;
    line-height: 1.33;
    cursor: pointer;
}

.promo__button:hover {
    border: 1px solid rgba(255, 255, 255, 0.42)
}