.navigation__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 18px;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .navigation__block {
        justify-content: space-between;
    }
}