.header__signin {
    border-radius: 3px;
    background-color: rgb(61,220,132,1);
    width: 76px;
    height: 32px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 32px;
}

.header__signin:hover {
    background-color: rgb(61,220,132,0.8);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header__signin {
        width: 54px;
        height: 26px;
        font-size: 10px;
        line-height: 26px;
    }
}
