.promo__text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.23;
    width: 310px;
    grid-area: text;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .promo__text {
        font-size: 13px;
        text-align: center;
        line-height: 1.21;
        text-align: center;
        width: 260px;
    }
}


