.error__header {
    margin: 100px 0 0 0;
    font-size: 140px;
    line-height: 1.21;
    color: white;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .error__header{
        font-size: 80px;
    }
}