.footer {
    margin: 79px auto 0;
    display: flex;
    flex-direction: column;
}

@import url(./__links/footer__links.css);
@import url(./__nav/footer__nav.css);
@import url(./__link/footer__link.css);
@import url(./__header/footer__header.css);
@import url(./__date/footer__date.css);