.withform__link {
    margin: 0 0 0 6px;
    color:rgb(66,133,244,1);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.21;
    cursor: pointer;
}

.withform__link:hover {
    color:rgb(66,133,244,0.8);
}