.error__link { 
    margin: 184px 0 0 0;
    background-color: rgb(32,32,32,1);
    border: none;    
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    text-decoration: none;
    color: rgb(66,133,244,1);
    cursor: pointer;
}

.error__link:hover {
    color: rgb(66,133,244,0.8);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .error__link{
        font-size: 12px;
        margin-top: 284px;
        margin-bottom: 30px;
    }
}