.searchform__toggle-text {
    font-size: 13px;
    line-height: 1.38;
    color: white;
    margin-right: 30px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .searchform__toggle-text{
        margin: 0 72px 0 0;
        font-size: 11px;
        line-height: 1.64;
    }
}