.withform__text-reg {
    margin: 16px 0 0 0;
    font-size: 14px;
    line-height: 1.21;
    color: rgb(139,139,139,1);
    align-self: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .withform__text-reg{
        font-size: 12px;
    }
}