.footer__header {
    margin: 0;
    font-size: 13px;
    line-height: 1.21;
    text-align: center;
    color: #8B8B8B;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__header{
        font-size: 12px;
        line-height: 1.33;
    }
}