.aboutproject__weeks {
    margin: 0;
    max-width: 100%;
    height: 36px;
    background: rgba(48, 48, 48, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 1;
    grid-column: 2;
}

.aboutproject__weeks:first-child {
    background: rgba(61, 220, 132, 1);
    grid-row: 1;
    grid-column: 1;
}